.u-section-1 .u-sheet-1 {
  min-height: 55px;
}

.inline {
  display: flex; 
  align-items: center;
}

.u-section-1 .u-text-1 {
  font-family: Alata;
  font-size: 1.5rem;
  margin: 9px 954px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 754px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 354px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 15px;
    margin-right: 250px;
    margin-bottom: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 97px;
}

.u-section-2 .u-group-1 {
  min-height: 81px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: auto;
  --radius: 20px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 21px;
  padding-right: 21px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-family: Alata;
  font-weight: 400;
  margin: 9px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Georgia, serif;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-2 .u-group-1 {
    min-height: 116px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 471px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 3px;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-group-1 {
    min-height: 153px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 307px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-2 .u-group-1 {
    min-height: 129px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-right: 12px;
    margin-left: 0;
  }
}